@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />

<div class="text-center">
    <h1 class="display-4">Leavemanegement</h1>
  
</div>


<br />
<br />
<br />

    <div class="container">
        <h1>Velcome to the Leavemanegement-systemet</h1>
        <div class="box">Indhold i boks 1</div>
        <div class="box">Indhold i boks 2</div>
        <div class="box">Indhold i boks 3</div>
    </div>

  

